body {
	font-family: 'FunctionProDemi', helvetica, sans-serif;
	margin: 0;
	padding: 0;
	/*background: black;*/
	/*color: white;*/
}
a { color: black; }
h1 {
	font-size: 70px;
}

p {
	font-family: 'FunctionProBook', helvetica, sans-serif;
}
img { width: 100% }

.f-light { font-family: 'FunctionProLight', helvetica, sans-serif; }

.wfit { width: 100%; }
.hfit { height: 100%; }
.w100 { width: 100vw; }
.h100 { height: 100vh; }
.topleft { top: 0; left: 0; }
.align-right { text-align: right }

.black { color: black }

.hide { opacity: 0; transition: .3s }
.show { opacity: 1; transition: .3s }

.c-orange { color: rgba(255, 65, 4, 1); }
.cb-orange { background-color: rgba(255, 65, 4, 1); }
.cf-orange { fill: rgba(255, 65, 4, 1); }

.c-grey { color: #797676; }
.cb-grey { background-color: #797676; }

.c-blue { color: blue; }
.cb-blue { background-color: blue; }

.white { color: white }
.cb-white { background-color: white; }

.mobile-image {
	width: 100%;
}

.hide-lg {}
.hide-md {}
.hide-sm {}

.show-lg { display: none }
.show-md { display: none }
.show-sm { display: none }

@media screen and (min-width: 700px) {
	.show-lg { display: block }
	.hide-lg { display: none }
}
@media screen and (max-width: 700px) {
	.show-md { display: block }
	.hide-md { display: none }
}
@media screen and (max-width: 450px) {
	.show-sm { display: block }
	.hide-sm { display: none }
}
