.title {
	text-transform: uppercase;
	position: absolute;
	top: 0rem;
	width: 100%;
	height: 2rem;
	text-align: center;
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title-active {
	height: 20rem;
	top: 2.5vw;
	left: 2.5vw;
	width: calc(100vw - 5vw);
	font-size: 7vw;
	color: rgba(255, 255, 255, .7);
}

.gif-wrapper {
	position: relative;
	left: 2.5vw; 
	top: 2.5vw; 
	width: 95vw; 
	height: calc(100vh - 5vw);
	transition: .3s;
}
.video-wrapper {
	margin-top: -82vh;
	transition-delay: 2s; 
	transition: .3s; 
	opacity: 1; 
}
.gif-wrapper-closed { height: 20rem; }
.gif-wrapper .lazy-gif { transition: .3s; opacity: 0; }
.gif-wrapper .video-wrapper { }
.gif-wrapper-closed .lazy-gif { transition: .3s; opacity: 1; }
.gif-wrapper-closed .video-wrapper { opacity: 0; z-index: -10 }

